<div style="background: rgb(144,238,144);"> 
    <table class="table" style="transform: translate(10%, 0%);">
        <tbody>
          <tr>
            <td class="align-bottom" (click)="goToHomePage()"><b style="font-size: 30px;">Inventory Management</b></td>
            <td>
              <div class="container">
                <button class="btn btn-danger" (click)="logout()">Logout</button>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<div class="container">
  <table class="table" style="width: max-content; margin: auto;">
    <tbody>
      <tr>
        <td class="align-bottom">
          <button type="button" class="btn btn-primary" (click)="allProducts()">
            All Products
          </button>
        </td>
        <td class="align-bottom">
          <button type="button" class="btn btn-primary" (click)="addProduct()">
            Add Product
          </button>
        </td>
        <td class="align-bottom">
            &nbsp; &nbsp; &nbsp; &nbsp;
          <input type='date' [(ngModel)]="dateTime"/>&nbsp; &nbsp;
          <button class="btn btn-primary" (click)="trnasectionReport(true)">Daily Report</button>
        </td>
        <td class="align-bottom">
          &nbsp; &nbsp; &nbsp; &nbsp;
          <input type='month' [(ngModel)]="dateTime"/>&nbsp; &nbsp;
          <button class="btn btn-primary" (click)="trnasectionReport(false)">Monthly Report</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br><br><br><br><br>

<form class="saleForm">
    <h2>Sale Product</h2>
    <div class="form-group">
        <label for="productId">Product Id</label>
        <input type="text" class="form-control input-md" id="productId" name="productId" [(ngModel)]="transaction.ProductId" autofocus required>
    </div>
    <br>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control input-md" id="quantity" name="quantity" [(ngModel)]="transaction.Quantity" required> 
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-success btn-md" (click)="saleProduct()">
    </div>
</form>
